<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Apple Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navcontainer">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" aria-current="page" routerLink="main">Main <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item active">
        <span class="badge badge-primary">
          <ng-container *ngIf="cartService.counter| async as counter"; else zero> {{counter}}</ng-container>
            <ng-template #zero>0</ng-template>
          </span>

      </li>
    </ul>
    
  </div>
</div>
</nav> 